<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="ApplicationSettings">
    <Parameter Name="ESConnectionString" Value="Server=tcp:ignitedemo2017.database.windows.net,1433;Initial Catalog=IgniteESDemo;Persist Security Info=False;User ID=igniteadmin;Password=ignitePassword123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <Parameter Name="RedisConnectionString" Value="igniteau.redis.cache.windows.net:6380,password=R2hTj51gd3H27RGDzZuAJgFoxf9/En4HdMzqdMc87TM=,ssl=True,abortConnect=False"/>
  </Section>
</Settings>
