<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="ColorCounterActorServiceReplicatorConfig">
    <Parameter Name="ReplicatorEndpoint" Value="ColorCounterActorServiceReplicatorEndpoint" />
    <Parameter Name="BatchAcknowledgementInterval" Value="0.005" />
  </Section>
  <Section Name="ColorCounterActorServiceReplicatorSecurityConfig">
    <Parameter Name="CredentialType" Value="None" />
  </Section>
  <Section Name="ResultAggregatorActorServiceReplicatorConfig">
    <Parameter Name="ReplicatorEndpoint" Value="ResultAggregatorActorServiceReplicatorEndpoint" />
    <Parameter Name="BatchAcknowledgementInterval" Value="0.005" />
  </Section>
  <Section Name="ResultAggregatorActorServiceReplicatorSecurityConfig">
    <Parameter Name="CredentialType" Value="None" />
  </Section>
  <!-- The content will be generated during build -->
</Settings>