<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="namespaceAddress" value="sb://YOUR SB NAMESPACE.servicebus.windows.net/"/>
    <add key="manageKeyName" value="RootManageSharedAccessKey"/>
    <add key="manageKey" value="ACCESS KEY"/>
  </appSettings>
</configuration>