<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="ApplicationSettings">
    <Parameter Name="ESConnectionString" Value="YOUR DATABASE CONNECTION STRING" />
    <Parameter Name="RedisConnectionString" Value="YOUR REDIS CONNECTION STRING"/>
  </Section>
</Settings>
